# Configuration for @github/local-action

INPUT_AAB_FILE=app/build/outputs/bundle/release/app-release.aab
INPUT_COMMAND=build-apks
INPUT_MODE=universal
INPUT_BUNDLETOOL_VERSION=latest
INPUT_CACHE=true
INPUT_JAVA_BIN=java
INPUT_SIGN=false
INPUT_EXTRACT_UNIVERSAL_APK=true
INPUT_KEEP_APKS=true
INPUT_WORKING_DIRECTORY=.
INPUT_DRY_RUN=true
INPUT_VERBOSE=true
